<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

    <h3>UPDATE QUESTION</h3>

    <form #userForm="ngForm" (ngSubmit)='onUpdate(userForm.value)'>

        <div class="form-group">

            <label>QUESTION ID: </label>

            <input required minlength="1" type="number" [(ngModel)]="obj1.id" readonly="readonly" #id='ngModel'
                name="id" ngModel class="form-control">

        </div>



        <div class="form-group">

            <label>QUESTION CONTENT: </label>

            <input required minlength="1" type="text" [(ngModel)]="obj1.content" #content='ngModel' name="content" ngModel
                class="form-control">

            <div *ngIf='content.errors
                        && content.touched' class="alert alert-danger">

                <div [hidden]='!content.errors.required'>

                    Provide Quetsion Content
                </div>

                

        </div>

        <div class="form-group">

            <label>QUESTION OPTION1: </label>

            <input required minlength="1" type="text" [(ngModel)]="obj1.option1" #option1='ngModel' name="option1"
                ngModel class="form-control">

            <div *ngIf='option1.errors && option1.touched' class="alert alert-danger">

                <div [hidden]='!option2.errors.required'> Provide option1 </div>

            </div>
        </div>
        <div class="form-group">

            <label>QUESTION OPTION2: </label>

            <input required minlength="1" type="text" [(ngModel)]="obj1.option2" #option2='ngModel' name="option2"
                ngModel class="form-control">

            <div *ngIf='option2.errors && option2.touched' class="alert alert-danger">

                <div [hidden]='!option2.errors.required'> Provide option2 </div>

            </div>
        </div>
        <div class="form-group">

            <label>QUESTION OPTION3: </label>

            <input required minlength="1" type="text" [(ngModel)]="obj1.option3" #option3='ngModel' name="option3"
                ngModel class="form-control">

            <div *ngIf='option3.errors && option3.touched' class="alert alert-danger">

                <div [hidden]='!option3.errors.required'> Provide option3 </div>

            </div>
        </div>

        <div class="form-group">

            <label>QUESTION ANSWER_OPTION </label>

            <input required length="1" type="number" [(ngModel)]="obj1.answer_option" #answer_option='ngModel' name="answer_option" ngModel class="form-control">

            <div *ngIf='answer_option.errors && answer_option.touched' class="alert alert-danger">

                <div [hidden]='!answer_option.errors.required'> Provide Answer Option </div>

            </div>
        </div>

        

        </div>
        <input [disabled]="userForm.invalid" type="submit" value="Edit Question" class="btn btn-primary">

    </form>

</div>
<div>
    <h2>{{message}}</h2>
</div>
